# {{ ansible_managed }}

<VirtualHost *:80>
    ServerName {{ inventory_hostname }}
    DocumentRoot /var/www/vhosts/{{ inventory_hostname }}

    ErrorLog /var/log/httpd/{{ inventory_hostname }}-error.log
    CustomLog /var/log/httpd/{{ inventory_hostname }}-access.log combined

    <Directory /var/www/vhosts/{{ inventory_hostname }}>
        Options +Indexes +FollowSymlinks
        Require all granted
    </Directory>
</VirtualHost>

